@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

.navbar {
    background: #183336;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar li a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

section {
    padding: 50px 0;
}

p{
    font-family: 'Montserrat', sans-serif;
}

button{
    font-family: 'Tomorrow', sans-serif;
}

h1, h2, h3{
    color: #183336;
    font-family: 'Tomorrow', sans-serif;
    font-weight: 700;
}

.hero-section{
    position: relative; height: 100vh;padding: 0;
}

.hero-head {
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
}

.hero-para {
    font-size: 25px;
    color: #fff;
}

.sec-sub {
    font-size: 18px;
    font-weight: 600;
}

/* Why Section */

#why {
    background: #183336;
    color: #fff;
}

.why-para {
    font-size: 18px;
    color: #183336;
    font-weight: 600;
    margin-bottom: 20px
}

.why-btn {
    padding: 0.5em 2em;
    border-radius: 40px;
    outline: none;
    border: none;
    background: #183336;
    color: #fff;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.5s;
}

.why-btn:hover {
    background: #075c65 !important;
    color: #fff !important;
}

.why-img {
    width: 80%;
    height: auto;
    margin-left: -20px;
    margin-bottom: -10px;
}

.network-item{
    font-size: 30px;
}


/* Products Section */

.products-main {
    padding: 2em 0 3.5em 0;
    margin: 3em 0;
    border-top: 3px solid #183336;
    border-bottom: 3px solid #183336;
}

.product-para{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}

/* Token Mechanics Section */

#mechanics {
    background: #183336;
    color: #fff;
}

.tokenomic-item {
    background: #fff;
    color: #183336;
    font-size: 28px !important;
    padding: 0.2em 1em 0em 1.5em;
    margin-bottom: 20px;
    border-radius: 50px;
    font-weight: 700;
}

.toke-img {
    width: 70%;
}

/* footer */

footer {
    background: rgba(255, 255, 255, 0.8);
    color: #000 !important;
}

.footer-wrapper {
    padding: 50px 0;
}

.footer-desc {
    font-size: 14px;
}

.footer-list-head {
    font-size: 14px;
}

.footer-list {
    list-style-type: none;
}

.footer-list li {
    margin: 20px 0;
}

.footer-list li a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.footer-bottom {
    background: #fff;
    padding: 10px 0;
    border-top: 2px solid #183336;
}

.down-arrow {
    position: absolute;
    top: -100px;
    right: 0;
    left: -55px;
    width: 102vw;
    height: 0;
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
    z-index: -1;
    border-top: 600px solid #183336;

    margin: 2rem;
}

@media only screen and (max-width: 600px) {

    .hero-section{
        height: 100%;
    }

    .hero-img{
        margin-top: 70px;
    }

    .navbar li{
        margin: 10px 0;
    }

    .hero-head{
        font-size: 35px;
        margin-top: 50px !important;
    }

    .hero-para{
        font-size: 24px;
    }

    .down-arrow{
        width: 110vw !important;
        border-left: 150px solid transparent !important;
        border-right: 150px solid transparent !important;
    }

    .why-para{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1000px) {

    .hero-section{
        height: 100%;
    }

    .hero-head{
        font-size: 45px;
        margin-top: 50px !important;
    }
    .down-arrow{
        width: 105vw;
        border-left: 300px solid transparent;
        border-right: 300px solid transparent;
    }
}